body{
    background-color: rgba(0, 0, 0, 0.959);

    background: url(back.jpg);

    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.274); */

}
.startValue {
    text-align: center;
    margin-top: 20%;

}
.inputBtn{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    padding: 15px;
    font-size: 22px;
    margin-bottom: 1%;
    background: transparent;
    color: white;
}
.inputBtn:focus{
    background-color: black;
}
.start{
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    border-radius: 25px;
    outline: none !important;
}
.start:active{
    border: none !important;
    outline: none !important;
    
}
.start:active{
    background-color: black;
    color: red;
}
.question{
    margin-top: 5%;
    
}
.questionVaries{
    background-color: rgba(22, 22, 21, 0.863);
    padding: 5% !important;
    border-radius: 25px;
    color: white;
}
.options{
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;

}
p:hover{
    background-color: greenyellow;
    color: black;

}
h3{
    padding-bottom: 10px;
}
.nextBtn{
    float: right;
    border: none;
    font-size: 18px;
    border: outset 2px deepskyblue;
    outline: none !important;
    background-color: deepskyblue;
}
.nextBtn:active{
    border: inset 2px;
    background-color: black;
    color: white;
}
.submitBtn{
    float: right;
    border: none;
    background-color: deepskyblue;
    font-size: 18px;
    border: outset 2px deepskyblue;
    outline: none !important;
    display: none;
    
}
.submitBtn:active{
    border: inset 2px;
    background-color: black;
    color: white;
}
.active{
    background-color: red;
    color: white;
}
.active:hover{
    background-color: red;
    color: white;
    
}
.submitted{
    margin-top: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 20px;
}
.submitted h3{
    color: bisque;
}
.startBtn{
    float: right;
    border: none;
    background-color: deepskyblue;
    font-size: 18px;
    border: outset 2px deepskyblue;
    outline: none !important;
    
}
.startBtn:active{
    border: inset 2px;
    background-color: black;
    color: white;
}

@media only screen and (max-width:526px){
    #questionValue{
        font-size: 18px;
    }
    .options{
        font-size: 15px;
        font-weight: 400;
        padding-left: 20px;
    }
    .nextBtn{
        font-size: 15px;
        
    }
    .questionVaries{
        margin-top: 15%;
        border-radius: 0px;
        
    }
    body{
        background:url(https://cdn.shopify.com/s/files/1/0241/9661/products/colorbookssweb_442d2ac5-e855-4a45-9cec-0e9f40c07870_1024x1024.jpg?v=1542786290);
        background-repeat: no-repeat;
    }
}  